
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

a{
   text-decoration: none;
   color:#fff;
     font-size: 30px;
     font-weight: 400;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid red;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  font-size: 23px;
  width: 40%;
  
}
.app{
  background-image: url('./Img/bright.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  text-align: center;
  margin-top: 0px;
}
.app.warm{
  background-image: url('./Img/warm.jpg');

}
main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1),rgba(0,0,0, 0.75));
  padding: 25px;
}


button{
  border: none;
  border-right: 2px solid red;
   padding: 20px;
   margin: 40px;
   border-radius: 6px;
   font-size: 20px;
   cursor: pointer;
}
 button:hover{
   background-color: skyblue;

 }
.app-footer .footer {
 
  /* min-height: 26vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 900px;
  

}
.city-footer{
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color:   rgb(135, 184, 224);
  text-align: center;
  text-shadow: 1px 1px rgba(39, 39, 88, 0.5);
   padding: 5px;

}
.country-footer{
  font-size:30px;
  font-style: italic;
  font-weight: 600;
  color:   rgb(138, 195, 241);
  text-align: center;
  text-shadow: 1px 1px rgba(9, 9, 19, 0.5);
   padding: 10px;
  
}
.desc-footer{
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  color:   rgb(6, 45, 77);
  text-align: center;
  text-shadow: 1px 1px rgba(9, 9, 19, 0.5);
   padding: 10px;
}
.p{
  margin: 1px;
}

.displayTemperature .temp{
 
    color: rgb(1, 21, 27);
    margin: 30px auto;
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255,0.4);
    border-radius: 16px;
    padding: 20px 105px;
    color:purple;
    font-size: 105px;
    font-weight: 600;
    text-shadow: 3px 6px rgba(90, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgb(0, 0, 0, 0.3);
 


}
.displayTemperature .temp-span{
   color: orange;
}

.displayFeelsLike .feel{
  color: rgb(1, 21, 27);
  margin: 10px auto;
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255,0.6);
  border-radius: 16px 6px 0px 0px ;
  padding: 20px 10px;
  color:rgb(3, 53, 100);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(90, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.displayMinMax .min-max{
  color: rgb(1, 21, 27);
  margin: 6px auto;
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255,0.6);
  border-radius: 0px 0px 0px 0;
  padding: 20px 10px;
  color:rgb(3, 53, 100);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(90, 50, 70, 0.8);
  text-align: center;
  box-shadow: 1px 2px rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.displayCondition .condition{
  color: rgb(1, 21, 27);
  margin: 6px auto;
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255,0.6);
  border-radius:0px 0px 16px 16px ;
  padding: 20px 10px;
  color:rgb(3, 53, 100);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(90, 50, 70, 0.8);
  text-align: center;
  box-shadow: 3px 6px rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 62%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.displayLocation .location {
     font-size: 70px;
     font-weight: 500;
     color: #fff;
     text-align: center;
     text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
     max-height: 1vh;
}
.displayDate .date{
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  color:   rgb(154, 212, 226);
  text-align: center;
  text-shadow: 1px 1px rgba(9, 9, 19, 0.5);
   padding: 75px;
   
}
/* .displayOtherWeather{
  
  color: rgb(1, 21, 27);
  margin: 30px auto;
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255,0.2);
  border-radius: 16px;
  padding: 20px 105px;
  color:purple;
  font-size: 20px;
  font-weight: 600;

  text-align: center;
  box-shadow: 3px 6px rgb(0, 0, 0, 0.2);
} */





.all {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  
}

.all:first-of-type {   
  animation: showup 7s infinite;
  font-size: 40px;
  color: rgb(123, 175, 218);
  margin: 0;
  font-size: 80px;
  font-weight: 500;
    
    
}

.all:last-of-type {
  width:50px;
  animation: reveal 7s infinite;
  color:rgb(197, 220, 236);
 

}

.all:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
  font-size: 30px;

}

@keyframes showup {
    10% {opacity:1;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    10% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:90px; }
    100% { margin-left:-5px; }
}

@keyframes reveal {
    10% {opacity:0;width:20px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

